# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Open Source Developer Environment for Data Science
- Show arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. GGplot(R)
2. Lattice(R)
3. NumPy(Python)
4. Pandas(Python)
5. Matplotlib(Python)
6. TensorFlow(C++)

| Data Science Tools|
|----|
|RStudio|
|Jupyter Notebooks|
|Jupyter Lab|
|Apache Zeppelin|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [25]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Auther
Tomoyo AOYAMA

## Appendix

In [27]:
# for self study
minutes = 200
perhour = 60
hours = int(minutes//perhour)
rest_minutes= int(minutes%perhour)
print(str(hours) + " hours " + str(rest_minutes) + " minutes" )

3 hours 20 minutes